/* --- Footer --- */

footer {
  padding: 40px 0;
  background: #000;
  margin-top: 80px;
  font-size: 14px;
}

footer a {
  color: #fff;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  text-align: center;
  margin-bottom: 0;
}
footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}
 
